parameters:
    smtp:

        exceptions:
            sender:
                name: 'Wakers.cz CMS 5'
                email: ::getenv('SMTP_USERNAME')
                to: ::getenv('NETTE_DEBUG_MAIL')
            config:
                host: ::getenv('SMTP_HOST')
                username: ::getenv('SMTP_USERNAME')
                password: ::getenv('SMTP_PASSWORD')
                port: 587
                secure: 'tls'


        resetPassword:
            sender:
                name: 'Wakers CMS 5'
                email: 'zapletal@wakers.cz'
            config:
                host: ::getenv('SMTP_HOST')
                username: ::getenv('SMTP_USERNAME')
                password: ::getenv('SMTP_PASSWORD')
                port: 587
                secure: 'tls'


        createUser:
            sender:
                name: 'Wakers CMS 5'
                email: 'zapletal@wakers.cz'
            config:
                host: ::getenv('SMTP_HOST')
                username: ::getenv('SMTP_USERNAME')
                password: ::getenv('SMTP_PASSWORD')
                port: 587
                secure: 'tls'