{**
 * Copyright (c) 2018 Wakers.cz
 *
 * @author Jiří Zapletal (http://www.wakers.cz, zapletal@wakers.cz)
 *
 *}

{import './../_admin-buttons.latte'}

{include btn-page-add 'settings' => [
    'view' => 'newsDetail.latte',
    'parentPageId' => NULL,
    'add' => 'Přidat aktualitu'
]}

{foreach $rows as $row}
    <div style="border: 1px solid #00b0f0; padding: 20px; margin-top: 20px">

        {include published 'row' => $row}

        <h3>{$row->getValContent('title')}</h3>

        <div>
            <a href="{plink :App:Run:setUrl url => $row->getPageUrl()}">{$row->getPage()->getName()}</a>
        </div>

        <div>
            <h4>Description</h4>
            {$row->getValContent('description')|noescape}
        </div>

        <div>Tel: {$row->getValContent('phone')}</div>

        <div>Mail: {$row->getValContent('email')}</div>

        <div>Date: {$row->getValContent('date')}</div>

        <div>Datetime: {$row->getValContent('datetime')}</div>

        <div>linkExternal: {$row->getValContent('linkExternal')}</div>

        <div>selectBox: {$row->getValContent('selectBox')}</div>

        <div>
            <h4>Test</h4>
            {$row->getValContent('test')|noescape}
        </div>

        {var $url = $row->getValUrl('linkInternal')}

        <div n:if="$url">
            <a href="{plink :App:Run:setUrl $url->getUrl()}" target="_blank">
                {$url->getPage()->getName()}
            </a>
        </div>

        <h4>Images</h4>
        {foreach $row->getValFiles('images') as $file}
            <img src="{img $file->getProtectedFile(), '200x200', 'FILL'}" alt="{$file->getTitle()}">
        {/foreach}

        <h4>Files</h4>
        {foreach $row->getValFiles('files') as $file}
            <a href="{file $file->getProtectedFile()}" title="{$file->getTitle()}">{$file->getName()}</a><br>
        {/foreach}
    </div>
{/foreach}


{include './../_paginator.latte'}
