{**
 * Copyright (c) 2018 Wakers.cz
 *
 * @author Jiří Zapletal (http://www.wakers.cz, zapletal@wakers.cz)
 *
 *}

{import './../_admin-buttons.latte'}

{define extended}
    <div style="border: 1px solid red; padding:  20px">

        {include btn-structure-edrm 'settings' => [
            'slug' => $row->getRecipeSlug(),
            'id' => $row->getStructureId(),
            'edit' => 'Upravit',
            'remove' => 'Odstranit'
        ]}

        <h3>{$row->getValContent('text')}</h3>
    </div>
{/define}

{define news}
    <div style="border: 1px solid #00b0f0; padding: 20px; margin-top: 20px">

        {include published 'row' => $row}

        {include btn-structure-edrm 'settings' => [
            'slug' => $row->getRecipeSlug(),
            'id' => $row->getStructureId(),
            'edit' => 'Upravit aktualitu',
            'remove' => 'Odstranit aktualitu'
        ]}

        <h3>{$row->getValContent('title')}</h3>

        <div>
            <h4>Description</h4>
            {$row->getValContent('description')|noescape}
        </div>

        <div>Tel: {$row->getValContent('phone')}</div>

        <div>Mail: {$row->getValContent('email')}</div>

        <div>Date: {$row->getValContent('date')}</div>

        <div>Datetime: {$row->getValContent('datetime')}</div>

        <div>linkExternal: {$row->getValContent('linkExternal')}</div>

        {var $url = $row->getValUrl('linkInternal')}

        <div n:if="$url">
            linkInternal:
            <a href="{plink :App:Run:setUrl $url->getUrl()}" target="_blank">
                {$url->getPage()->getName()}
            </a>
        </div>

        <div>selectBox: {$row->getValContent('selectBox')}</div>

        <h4>Images</h4>
        {foreach $row->getValFiles('images') as $file}
            <img src="{img $file->getProtectedFile(), '200x200', 'FILL'}" alt="{$file->getTitle()}">
        {/foreach}

        <h4>Files</h4>
        {foreach $row->getValFiles('files') as $file}
            <a href="{file $file->getProtectedFile()}" title="{$file->getTitle()}">{$file->getName()}</a><br>
        {/foreach}


        {include btn-structure-add 'settings' => [
            'slug' => 'news-extended',
            'add' => 'Přidat'
        ]}

        {foreach $descendants as $descendant}
            {include extended 'row' => $descendant['item']}
        {/foreach}
    </div>
{/define}

{include btn-structure-add 'settings' => [
    'slug' => 'news',
    'add' => 'Přidat aktualitu'
]}

{foreach $rows['descendants'] as $row}
    {if $row['item']->getRecipeSlug() === 'news'}
        {include news 'row' => $row['item'], 'descendants' => $row['descendants']}
    {*else}
        <h2>Nepřiřazeno</h2>
        {include extended 'row' => $row['item']*}
    {/if}
{/foreach}
